<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productividad Estudiante</title>
    <link rel="stylesheet" href="/css/estilosAlumnos.css">
</head>
<body>
    <header class="header">
        <div class="logo">
          <img src="https://www.ipn.mx/assets/files/main/img/template/pleca-ipn.png" alt="img">
        </div>
    
        <div class="titulo">
          <h1>Sistema de información del posgrado en Física Educativa</h1>
        </div>
    
        <div class="logo">
          <img src="https://www.cicata.ipn.mx/assets/files/cicata/assets/uploads/Logo_CICATA_TF2.png" alt="img">
        </div>
    
    </header>

    <nav class="barra-navegacion">
        <div>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Conocenos</a></li>
                <li><a href="#">Investigacion</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="main-page">
        
        <div class="wrap-navegacion">
            <div class="lista-navegacion">
                <label>Consultas Alumno</label>
                <div class="lista-consulta">
                    <ul>
                        <li><a href="#" onclick="cambiarDPersonales();">Datos personales</a></li>
                        <li><a href="#" onclick="cambiarProductividad();">Productividad</a></li>
                        <li><a href="#" onclick="cambiarMDatos();">Modificar datos</a></li>
                        <li><a href="/nuevosProductos">Añadir nuevos productos</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="wrap-datos">
            <div class="datos-personales" id="idPersonales">
                <h1>Datos Personales</h1>

                <div class="dp-campo">
                    <div>
                        <label>Nombre(s)</label>
                        <div class="Idp-campo">
                            <input id="Idp-nombre" type="text" readonly="readonly" placeholder="Nombre(s)" value="<%=usuario.nombre%>"/>
                        </div>
                        
                    </div>

                </div>

                <div class="dp-campo">
                    
                    <div class="dp-apellidoM">
                        <label>Apellidos</label>
                        <div class="Idp-campo">
                            <input id="Idp-apellidoP" type="text" readonly="readonly" placeholder="Apellido Paterno" value="<%=usuario.apellidoP%>"/>
                            <input id="Idp-apellidoM" type="text" readonly="readonly" placeholder="Apellido Materno" value="<%=usuario.apellidoM%>"/>
                        </div>
                        
                    </div>
                </div>

                <div class="dp-campo">
                    
                    <div class="dp-boleta">
                        <label>Boleta</label>
                        <div class="Idp-campo">
                            <input id="Idp-Boleta" type="text" readonly="readonly" placeholder="Boleta" value="<%=usuario.boleta%>"/>
                        </div>
                        
                    </div>
                </div>

                <div class="dp-campo">
                    
                    <div class="dp-CURP">
                        <label>CURP</label>
                        <div class="Idp-campo">
                            <input id="Idp-CURP" type="text" readonly="readonly" placeholder="CURP" value="<%=usuario.curp%>"/>
                        </div>
                        
                    </div>
                </div>

                <div class="dp-campo">
                    
                    <div class="dp-FNacimiento">
                        <label>Fecha Nacimiento</label>
                        <div class="Idp-campo">
                            <input id="Idp-FNacimiento" type="text" readonly="readonly" placeholder="Fecha de Nacimiento" value="<%=usuario.fechaNacimiento%>"/>
                        </div>
                        
                    </div>
                </div>

                <div class="dp-campo">
                    
                    <div class="dp-email">
                        <label>Correo Electronico</label>
                        <div class="Idp-campo">
                            <input id="Idp-email" type="text" readonly="readonly" placeholder="Correo Electronico" value="<%=usuario.email%>"/>
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="productividad" id="idProductividad">
                <h1>Productividad</h1>

                <div id="tabs">
                    <span class="diana" id="uno"></span>
                    <a href="#uno" class="tab-e">Articulo de Congreso</a>
                    <span class="diana" id="dos"></span>
                    <a href="#dos" class="tab-e">Articulo de Revista</a>
                    <span class="diana" id="tres"></span>
                    <a href="#tres" class="tab-e">Capitulo de Libro</a>
                    <span class="diana" id="cuatro"></span>
                    <a href="#cuatro" class="tab-e">Libro</a>
                    <span class="diana" id="quinto"></span>
                    <a href="#quinto" class="tab-e">Hardware/Software</a>
          
                    <div id="pnl_1">
                      <div id="datos-pnl_1">
                        <% productos.ACongreso.forEach(function(producto){ %> 
                            <a href="/index1/<%= producto.titulo%>">
                                <h2><%=producto.titulo%></h2>
                                <p>Nombre del congreso: <%=producto.nombre%></p>
                                <p>Fecha del evento: <%=producto.fechaEvento%></p>
                                <p>Tipo de autor: <%=producto.tipoAutor%></p>
                                <p>Asociado a tesis: <%=producto.asociado%></p>
                            </a>  
                            <hr>
                        <%});%>
                      </div>
                    </div>
          
                    <div id="pnl_2">
                      <div id="datos-pnl_2">
                            <% productos.ARevista.forEach(function(producto){ %>
                                <a href="/index2/<%= producto.titulo%>">
                                    <h2><%=producto.titulo%></h2>
                                    <p>Nombre de la revista: <%=producto.nombre%></p>
                                    <p>Tipo de revista: <%=producto.tipoRevista%></p>
                                    <p>Indice de la revista:  <%if(producto.indice != 'Otro'){%>
                                        <%=producto.indice%>
                                        <%}else{%>
                                        <%=producto.indiceOtro%>
                                        <%}%></p>
                                    <p>ISSN: <%=producto.ISSN%></p>
                                    <p>DOI: <%=producto.DOI%></p>
                                    <p>Tipo de autor: <%=producto.tipoAutor%></p>
                                    <p>Asociado a tesis: <%=producto.asociado%></p>
                                    <p>URL: <%=producto.URL%></p>
                                </a>  
                                <hr>
                            <%});%>
                      </div>
                    </div>
          
                    <div id="pnl_3">
                        <div id="datos-pnl_3">
                                <% productos.CLibro.forEach(function(producto){ %>
                                    <a href="/index3/<%= producto.titulo%>">
                                        <h2><%=producto.titulo%></h2>
                                        <p>Editorial del libro: <%=producto.editorial%></p>
                                        <p>Edicion del libro: <%=producto.edicion%></p>
                                        <p>Año de publicacion: <%=producto.añoPublicacion%></p>
                                        <p>ISBN: <%=producto.ISBN%></p>
                                        <p>Tipo de autor: <%=producto.tipoAutor%></p>
                                        <p>Asociado a tesis: <%=producto.asociado%></p>
                                        <p>URL: <%=producto.URL%></p>
                                    </a>   
                                    <hr>
                                <%});%>
                        </div>
                    </div>

                    <div id="pnl_4">
                        <div id="datos-pnl_4">
                                <% productos.libro.forEach(function(producto){ %>   
                                    <a href="/index4/<%= producto.titulo%>">
                                        <h2><%=producto.titulo%></h2>
                                        <p>Editorial del libro: <%=producto.editorial%></p>
                                        <p>Edicion del libro: <%=producto.edicion%></p>
                                        <p>Año de publicacion: <%=producto.añoPublicacion%></p>
                                        <p>ISBN: <%=producto.ISBN%></p>
                                        <p>Tipo de autor: <%=producto.tipoAutor%></p>
                                        <p>Asociado a tesis: <%=producto.asociado%></p>
                                        <p>URL: <%=producto.URL%></p>
                                    </a>
                                    <hr>
                                <%});%>
                        </div>
                    </div>

                    <div id="pnl_5">
                        <div id="datos-pnl_5">
                            <% productos.hardwareSoftware.forEach(function(producto){ %>
                                <a href="/index5/<%= producto.titulo%>">
                                    <h2><%=producto.titulo%></h2>
                                    <p>Año de desarollo: <%=producto.añoDesarrollo%></p>
                                    <p>Derechos de autor: <%=producto.derechosAutor%></p>
                                    <p>Tipo de autor: <%=producto.tipoAutor%></p>
                                    <p>Asociado a tesis: <%=producto.asociado%></p>
                                    <p>URL: <%=producto.URL%></p>
                                </a>   
                                <hr>
                                <%});%>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modificar-datos-personales" id="idModificarDatos">
                <h1>Modificar Datos</h1>
                <form action="#" method="GET">

                    <div class="dp-campo">
                        <div class="dp-nombre">
                            <label class="labelchido" for = "Idp-nombre">Nombre(s)</label>
                            <div class="Idp-campo">
                                <input type="text" id="Idp-nombreM" placeholder="Nombre" name="Idp-nombre" value="<%=usuario.nombre%>" required/>
                            </div>
                        </div>
                        <div class="messages"></div>
                    </div>
    
                    <div class="dp-campo">
                        <div class="dp-apellidoM">
                            <label for="Idp-apellidoP">Apellidos</label>
                            <div class="Idp-campo">
                                <input id="Idp-apellidoPM" type="text" placeholder="Apellido Paterno" name="APaterno" value="<%=usuario.apellidoP%>" required/>
                                <input id="Idp-apellidoMM" type="text" placeholder="Apellido Paterno" name="AMaterno" value="<%=usuario.apellidoM%>" required/>
                            </div>  
                        </div>
                        <div class="messages"></div>
                    </div>
    
                    <div class="dp-campo">
                        <div class="dp-CURPM">
                            <label for="Idp-CURP">CURP</label>
                            <div class="Idp-campo">
                                <input id="Idp-CURPM" type="text" placeholder="CURP" name="CURP" value="<%=usuario.curp%>" required/>
                            </div>
                        </div>
                        <div class="messages"></div>
                    </div>
    
                    <div class="dp-campo">
                        <div class="dp-FNacimientoM">
                            <label for = "Idp-FNacimiento">Fecha Nacimiento</label>
                            <div class="Idp-campo">
                                <input id="Idp-FNacimientoM" type="date" placeholder="Fecha de Nacimiento" name="FNacimiento" value="<%=usuario.fechaNacimiento%>" required/>
                            </div>   
                        </div>
                        <div class="messages"></div>
                    </div>
    
                    <div class="dp-campo">
                        <div class="dp-emailM">
                            <label for="Idp-email">Correo Electronico</label>
                            <div class="Idp-campo">
                                <input id="Idp-emailM" type="email" placeholder="Correo Electronico" name="Email" value="<%=usuario.email%>" required/>
                            </div>
                        </div>
                        <div class="messages"></div>
                    </div>

                    <button type="submit">Guardar</button>
                </form>
                
            </div>

            <div class="datos-productos" id="idProductos">
                
            </div>
        </div>
    </div>

    <script src="/js/funciones.js"></script>
    <!--<script src="/js/lecturaJSONAlumno.js"></script>-->
    
</body>
</html>